## datasette: Explore and Publish

## ibis: Many many backends

### Polars - calmcode

In [ ]:
import ibis

ibis.options.interactive = True

In [ ]:
con_polars = ibis.polars.connect()
tbl_polars = con_polars.read_csv("../data/birthdays.csv")

In [ ]:
tbl_polars.head()

In [ ]:
def set_types(dataf):
    return dataf.mutate(dataf.date.to_date("%Y-%m-%d").name("date"))


def counter(dataf, *args):
    return (
        dataf.group_by(args)
        .agg(dataf.births.sum().name("sum"), dataf.births.mean().name("mean"))
        .order_by(args)
    )


counter(tbl_polars, "date")

### Duckdb - ibis framework

- create a duckdb file from csv `duckdb data/birthdays.ddb "CREATE TABLE birthdays AS SELECT * FROM read_csv('data/birthdays.csv');"`
- run the above from terminal
- make sure duckdb is already installed on the machine. can use homebrew

In [4]:
import ibis
import pandas as pd

ibis.options.interactive = True

In [5]:
df = pd.DataFrame(
    [["a", 1, 2], ["b", 3, 4]],
    columns=["one", "two", "three"],
    index=[5, 6],
)

df

  one  two  three
5   a    1      2
6   b    3      4

In [ ]:
# t = ibis.memtable(df)
# t

## neo4j: Great Graph Database

- code in Neo4j
- created `calmcode` database in neo4j

## pandas pipe: Clean Pandas Code

## pandas datetime: Datetimes in Pandas

## polars: Faster DataFrames